<ng-container *ngIf="imageResponse.length >0">
<br><h5>Resultado:</h5><hr>
<!--if hay resultados-->
<ng-container *ngFor='let image of imageResponse'>
<ul class="list-group" *ngIf="image.clave == 'description' || image.clave =='score'">

    <li class="list-group-item list-group-item-primary" *ngIf="image.clave == 'description'">{{ image.valor }}</li>
    <li class="list-group-item" *ngIf="image.clave =='score'">{{ image.valor }}</li>
    
</ul>
</ng-container>
</ng-container>
<!--
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Descripcion</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let image of imageResponse'>
            <td>{{ image.clave }}</td>
            <td>{{ image.valor }}</td>
        </tr>
    </tbody>
</table> -->